<div class="mt-4 text-2xl">This includes:</div>

<ul>
    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-check-lg w-[30px] text-emerald-500 text-2xl"></i>
        Tourists and visitors can go on trips to the milkfish hatchery, the
        demonstration farm, and the farmer's field school.
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-check-lg w-[30px] text-emerald-500 text-2xl"></i>
        Offer hands-on activities like feeding the fish, sampling the pond, and
        catching fish so that tourists can learn about milkfish farming
        directly.
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-check-lg w-[30px] text-emerald-500 text-2xl"></i>
        Work with local tourist agencies to promote these activities and bring
        in people who are interested in sustainable farming and fish farming.
    </li>
</ul>

<div class="my-4">
    This project gives students, farmers, and people in the community the
    information and skills they need to do aquaculture in a way that is
    sustainable. It also brings in people who want to learn about and support
    local milkfish production.
</div>

<div class="mt-8 text-2xl">Components:</div>

<ul>
    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        Establish a milkfish hatchery (species selection, pond preparation or
        design, water management, feeding, and nutrition).
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        Establish a milkfish hatchery (species selection, pond preparation or
        design, water management, feeding, and nutrition).
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        On-site Demonstration Farm
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        Fish Farmer's Field School
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        Community Awareness and Participation
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        Ecotourism and agritourism activities
    </li>

    <li class="flex items-center py-2 border-b border-b-gray-50">
        <i class="bi bi-box-seam w-[30px] text-amber-500 text-2xl"></i>
        Collaboration and networking
    </li>
</ul>
