<div class="flex flex-col items-center justify-center p-5 py-20">
    <div class="text-4xl font-black text-center">Let's talk</div>

    <div class="text-lg font-light text-gray-500">
        Have an inquiries, suggestion or complaint? Contact us directly or fill
        up the form and we will be in touch with you promptly.
    </div>

    <div
        class="grid w-full max-w-screen-lg mx-auto mt-10 md:grid-cols-2 gap-x-15"
    >
        <div
            class="p-10 bg-white border border-gray-100 rounded drop-shadow-sm"
        >
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Your Name</mat-label>
                <input matInput />
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput />
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Phone</mat-label>
                <input matInput />
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Message</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <button
                class="w-full py-3 mt-6 font-bold text-white bg-brand-sky md:hover:bg-brand-blue"
            >
                Send
            </button>
        </div>

        <div>
            <div style="width: 100%">
                <iframe
                    width="100%"
                    height="450"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Iscof%20Tiwi+(Lagaw%20and%20Learn)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    ><a href="https://www.maps.ie/distance-area-calculator.html"
                        >measure area map</a
                    ></iframe
                >

                <div class="grid mt-4 md:grid-cols-3">
                    <div class="flex">
                        <i class="mr-2 bi bi-facebook text-brand-blue"></i>
                        Iscof Extension
                    </div>

                    <div class="flex">
                        <i
                            class="mr-2 bi bi-telephone-fill text-brand-blue"
                        ></i>
                        iscofescd2018@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
