<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="bg-brand-sky/5 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall"
>
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24 mt-10 mb-4">
                <img
                    class="w-full h-full rounded-full object-contain scale-[2] origin-top"
                    src="https://drive.google.com/uc?id=1eLJq_L2eqBnxozEJ-4F7_BPxuvnRTgQ0"
                    alt="User avatar"
                />
            </div>

            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div
                    class="w-full overflow-hidden font-medium leading-normal text-center whitespace-nowrap text-ellipsis"
                >
                    Welcome to
                </div>
                <div
                    class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium"
                >
                    Lagaw & Learn @ ISUFST
                </div>
            </div>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<div class="flex flex-col flex-auto w-full min-w-0 max-h-[100vh] overflow-auto">
    <div
        class="relative flex items-center w-full h-16 px-4 shadow flex-0 md:px-6 z-49 dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
    >
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>

            <user [showAvatar]="false"></user>
        </div>
    </div>

    <div class="flex flex-col flex-auto">
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex items-center justify-start w-full px-4 border-t flex-0 h-14 md:px-6 z-49 bg-card dark:bg-transparent print:hidden"
    >
        <span class="font-medium text-secondary"
            >Developed by:
            <span class="text-brand-blue md:hover:underline"
                ><a target="_blank" href="https://jamelyassin84.github.io/"
                    >Jamel Yassin</a
                ></span
            >
            &copy; {{ currentYear }}</span
        >
    </div>
</div>
