<div *ngIf="projectSubComponentComponent" class="flex w-full p-5 py-20">
    <div class="flex flex-col w-full max-w-screen-lg mx-auto">
        <ng-container *ngIf="projectSubComponentComponent.video">
            <div class="text-3xl text-left">
                Video of {{ projectSubComponentComponent.title }}
            </div>

            <div class="flex items-center bg-black">
                <video class="w-full h-[60vh] max-w-screen-lg mx-auto" controls>
                    <source
                        type="video/mp4"
                        [src]="projectSubComponentComponent.video | drive_link"
                    />
                </video>
            </div>
        </ng-container>

        <div class="my-4 mt-20 text-3xl text-left">
            Images of {{ projectSubComponentComponent.title }}
        </div>

        <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
            <div
                role="button"
                (click)="openViewer(image)"
                class="overflow-hidden bg-white border rounded-lg border-gray-50"
                *ngFor="let image of projectSubComponentComponent.images"
            >
                <img
                    class="w-full h-[250px] rounded-md"
                    [src]="image | drive_link"
                    alt=""
                />
            </div>
        </div>
    </div>
</div>
