<div class="flex flex-col items-center justify-center py-20">
    <div
        data-aos="fade-up"
        data-aos-duration="450"
        class="text-3xl font-semibold text-center"
    >
        Whate we do
    </div>

    <div
        class="grid w-full max-w-screen-lg mx-auto mt-10 md:grid-cols-4 gap-x-15"
    >
        <div
            data-aos="fade-up"
            [attr.data-aos-duration]="450 * i"
            *ngFor="let item of [1, 2, 3, 4]"
            class="drop-shadow rounded-md h-[20vh] text-white flex flex-col text-center justify-center items-center p-5 bg-brand-sky"
        >
            <mat-icon
                class="mb-2 text-4xl icon-size-10"
                svgIcon="feather:users"
            ></mat-icon>

            <div>LIFELONG LEARNERS</div>

            <div class="text-4xl font-black">1,045</div>
        </div>
    </div>

    <div
        data-aos="fade-up"
        data-aos-duration="850"
        class="font-light text-gray-500 max-w-[70%] p-5 mt-8"
    >
        At our organization, we are passionate about making a positive impact in
        our community and beyond. We strive to create meaningful change through
        our work, and we do this by focusing on education. Our team is dedicated
        to providing high-quality educational opportunities to people of all
        ages and backgrounds, with a particular focus on fish education. Fish
        education is an important part of our mission because it helps people
        better understand the world around them. Fish are fascinating creatures,
        and learning about them can be both fun and informative. Whether you're
        interested in fish as a hobby or you want to learn more about the
        environment, we believe that fish education can be a powerful tool for
        personal growth and development. To support our mission of providing
        high-quality fish education, we offer a variety of programs and
        resources. Our team of experienced educators is committed to creating
        engaging and interactive learning experiences that are tailored to the
        needs of each individual learner. We also provide a wide range of
        educational materials, including books, videos, and other resources, to
        help people learn more about fish and their habitats. In addition to our
        educational programs and resources, we are also dedicated to promoting
        conservation and sustainability. We believe that by educating people
        about fish and their ecosystems, we can help protect these important
        resources for future generations. We work closely with local and
        national organizations to support fish conservation efforts and to
        promote sustainable fishing practices. Overall, our organization is
        committed to making a positive difference in the world through education
        and conservation. We believe that fish education is a powerful tool for
        creating a more informed and engaged society, and we are proud to be a
        part of this important work.
    </div>
</div>
