<div class="flex items-center justify-center p-5">
    <div
        class="grid w-full max-w-screen-lg mx-auto mt-10 md:grid-cols-2 gap-x-15"
    >
        <div>
            <img
                class="h-[40vh]"
                src="../../../../../../assets/app/home/1.jpg"
                alt=""
            />
        </div>

        <div>
            <div class="mb-3 text-3xl font-semibold">
                All about Lagaw and Learn @ ISUFST
            </div>

            <div class="font-light text-gray-500 max-w-[80%]">
                "Unlock the Secrets of the Deep Blue with Our Fish Education
                Programs!"
                <br />
                <br />

                Our fish education programs are designed to bring the wonders of
                the ocean to life. Whether you're a curious student, a seasoned
                hobbyist, or simply fascinated by marine life, our programs
                offer a unique opportunity to dive into the world of fish and
                explore the fascinating creatures that inhabit our waters. With
                a team of expert educators and a state-of-the-art facility, our
                fish education programs provide a hands-on learning experience
                that will leave you with a newfound appreciation for these
                magnificent creatures. From fish biology and behavior to
                aquaculture and conservation, our programs cover a wide range of
                topics and are tailored to meet the needs of learners of all
                ages and skill levels.
                <br />
                <br />
                So why wait?
                <br />
                <br />
                Dive into the world of fish education and unlock the secrets of
                the deep blue with us today!
            </div>
        </div>
    </div>
</div>
