<div class="flex items-center justify-center">
    <div class="grid w-full max-w-screen-lg grid-cols-2 mx-auto mt-10 gap-x-5">
        <div>
            <img
                class="h-[40vh]"
                src="https://t4.ftcdn.net/jpg/03/32/75/39/360_F_332753934_tBacXEgxnVplFBRyKbCif49jh0Wz89ns.jpg"
                alt=""
            />
        </div>

        <div>
            <div class="text-3xl font-semibold text-brand-sky">
                All about Lagaw and Learn @ ISUFST
            </div>

            <div class="text-lg font-light text-gray-500">
                eFARM (Food and Agriculture Resources Management) Academy is a
                Central Luzon State University (CLSU)-initiated project funded
                by the Commission on Higher Education (CHED) that targets to do
                the “Transfer-Technology Program” as one of the premiere
                institutions of agriculture in Southeast Asia. The project,
                through its eFARM GROW (Generate. Reap. Opportunity. Wealth)
                component, showcases various food and agriculture technologies
                developed by the university. In addition, it concomitantly
                shares different food processing preparations to make the
                agri-fishery products available for consumption through its
                eFARM KITCHEN (Knowledge Integration. Culinary Enhancement)
                component.
            </div>
        </div>
    </div>
</div>
