<div class="flex flex-col items-center justify-center py-20 bg-brand-sky/10">
    <div class="text-3xl font-semibold text-center">Program Components</div>

    <div class="text-lg font-light text-gray-500">
        The program has ({{ PROJECT_COMPONENTS.length }}) components: component.
    </div>

    <div
        class="grid w-full max-w-screen-xl mx-auto mt-10 md:grid-cols-2 gap-15"
    >
        <div
            role="button"
            *ngFor="let project of PROJECT_COMPONENTS"
            [routerLink]="'/project-components/' + project.id"
            class="shadow-2xl shadow-brand-sky/40 bg-white rounded-2xl min-h-[50vh] flex flex-col p-5"
        >
            <video
                muted
                loop
                autoplay
                *ngIf="project.video"
                class="w-full h-[400px] bg-black"
            >
                <source [src]="project.video" type="video/mp4" />
                Your browser does not support the video tag.
            </video>

            <img
                *ngIf="project.image"
                class="w-full h-[400px] object-cover rounded-xl"
                [src]="project.image"
                alt=""
            />

            <div class="my-4 text-3xl font-bold text-left">
                {{ project.title }}
            </div>

            <div class="mt-4 text-lg font-light text-left text-gray-500">
                {{ project.description }}
            </div>
        </div>
    </div>
</div>
