<div class="flex flex-col items-center justify-center py-20 md:bg-brand-sky/10">
    <div class="text-3xl font-semibold text-center md:text-6xl">
        Program Components
    </div>

    <div class="text-lg font-light text-gray-500">
        The program has ({{ PROJECT_COMPONENTS.length }}) components: component.
    </div>

    <div
        class="grid items-baseline justify-start max-w-screen-lg gap-4 mx-auto mt-10 md:grid-cols-2"
    >
        <!-- Top section for odd indices -->
        <div
            [@listAnimation]="PROJECT_COMPONENTS.length / 2"
            class="grid items-baseline justify-start gap-4"
        >
            <ng-container
                *ngFor="let project of PROJECT_COMPONENTS; let i = index"
            >
                <ng-container *ngIf="i === 0 || i % 2 === 0">
                    <project-component-item
                        [key]="i"
                        class="h-auto max-w-full"
                        [project]="project"
                    ></project-component-item>
                </ng-container>
            </ng-container>
        </div>

        <!-- Bottom section for even indices -->
        <div
            [@listAnimation]="PROJECT_COMPONENTS.length / 2"
            class="grid items-baseline justify-start gap-4"
        >
            <ng-container
                *ngFor="let project of PROJECT_COMPONENTS; let i = index"
            >
                <ng-container *ngIf="i % 2 !== 0 && i !== 0">
                    <project-component-item
                        [key]="i"
                        class="h-auto max-w-full"
                        [project]="project"
                    ></project-component-item>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
