<div class="flex flex-col items-center justify-center py-20">
    <div class="text-3xl font-semibold text-center">Program Component</div>

    <div
              data-aos="fade-up"
        data-aos-duration="150"
        class="text-lg font-light text-gray-500"
    >
        The program has four (4) components: component.
    </div>

    <div
        class="grid w-full max-w-screen-lg mx-auto mt-10 md:grid-cols-4 gap-x-15"
    >
        <div
            data-aos="zoom-in-down"
            data-aos-duration="450"
            *ngFor="let item of [1]"
            class="drop-shadow bg-white rounded-md h-[50vh] flex flex-col text-center justify-center items-center p-5"
        >
            <div class="text-3xl font-black">Milkfish Farming</div>

            <div class="text-lg font-light text-gray-500">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quibusdam ipsum, voluptatum quae ratione maxime iste fugit et
                modi ad reiciendis voluptatibus? Ducimus quia tempore soluta eum
                et laudantium fugiat voluptatibus!
            </div>
        </div>
        <div
            data-aos="zoom-in-down"
            data-aos-duration="450"
            *ngFor="let item of [1]"
            class="drop-shadow bg-white rounded-md h-[50vh] flex flex-col text-center justify-center items-center p-5"
        >
            <div class="text-3xl font-black">Milkfish Processing</div>

            <div class="text-lg font-light text-gray-500">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quibusdam ipsum, voluptatum quae ratione maxime iste fugit et
                modi ad reiciendis voluptatibus? Ducimus quia tempore soluta eum
                et laudantium fugiat voluptatibus!
            </div>
        </div>
        <div
            data-aos="zoom-in-down"
            data-aos-duration="450"
            *ngFor="let item of [1,]"
            class="drop-shadow bg-white rounded-md h-[50vh] flex flex-col text-center justify-center items-center p-5"
        >
            <div class="text-3xl font-black">Museum</div>

            <div class="text-lg font-light text-gray-500">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quibusdam ipsum, voluptatum quae ratione maxime iste fugit et
                modi ad reiciendis voluptatibus? Ducimus quia tempore soluta eum
                et laudantium fugiat voluptatibus!
            </div>
        </div>
        <div
            data-aos="zoom-in-down"
            data-aos-duration="450"
            *ngFor="let item of [1]"
            class="drop-shadow bg-white rounded-md h-[50vh] flex flex-col text-center justify-center items-center p-5"
        >
            <div class="text-3xl font-black">La Guerta</div>

            <div class="text-lg font-light text-gray-500">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quibusdam ipsum, voluptatum quae ratione maxime iste fugit et
                modi ad reiciendis voluptatibus? Ducimus quia tempore soluta eum
                et laudantium fugiat voluptatibus!
            </div>
        </div>
    </div>
</div>
