<div class="flex flex-col items-center justify-center">
    <div
        data-aos="fade-up"
        data-aos-duration="450"
        class="grid w-full max-w-screen-lg mx-auto md:grid-cols-4 gap-x-10"
    >
        <div class="w-full h-[50vh]">
            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/1.jpg"
                alt=""
            />
        </div>

        <div class="w-full h-[50vh] grid gap-5">
            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/2.jpg"
                alt=""
            />

            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/3.JPG"
                alt=""
            />
        </div>

        <div class="w-full h-[50vh] grid gap-5">
            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/4.JPG"
                alt=""
            />

            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/5.JPG"
                alt=""
            />
        </div>

        <div class="w-full h-[50vh] grid gap-5">
            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/7.JPG"
                alt=""
            />

            <img
                class="object-cover w-full h-full"
                src="../../../../../../assets/app/home/8.JPG"
                alt=""
            />
        </div>
    </div>
</div>
