<div class="flex flex-col items-center justify-center py-20 text-center">
    <div
        data-aos="fade-up"
        data-aos-duration="150"
        class="text-3xl font-semibold text-center"
    >
        Explore
    </div>

    <div
        data-aos="fade-up"
        data-aos-duration="450"
        class="text-lg font-light text-gray-500 max-w-[500px] w-full"
    >
        Dive into the Wonders of Fish Education: Explore the Fascinating World
        of Aquatic Life
    </div>

    <div
        data-aos="fade-up"
        data-aos-duration="850"
        class="grid w-full max-w-screen-lg mx-auto mt-10 md:grid-cols-3 gap-x-15"
    >
        <div
            *ngFor="let item of [1, 2, 3]"
            class="drop-shadow bg-white rounded-md h-[60vh] flex flex-col text-center justify-center items-center"
        >
            <img
                class="object-cover h-full"
                src="../../../../../assets/app/home/1.jpg"
                alt=""
            />
        </div>
    </div>
</div>
